<html>
    <head>
        <title>The Office</title>
        <h1>The Office</h1>
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body>
        <div class="menu-buttons">
            <form action="/sessions/new" method="GET">
                <button class="button" type="submit">
                    Log in
                </button>
            </form>
            <form action="/users/new" method="GET">
                <button class="button" type="submit">
                    Sign up
                </button>
            </form>
        </div>
    </body>

</html>